body {
  margin: 0;
  background-image: url("./assets/grungebackground.jpg");
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  background-blend-mode: darken;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Mono', monospace;
}
